.vscode/**
.vscode-test/**
src/**
node_modules/**
.gitignore
vitest.config.ts
esbuild.js
tsconfig.json
test-fixtures/**
.claude/**
.github/**
demo/**
dist/test/**
eslint.config.mjs
.vscode-test.mjs
package-lock.json
